
body{
  background-color: white;
  color:black;
  font-size: 20px;
}

h1{
  font-family: 'Open Sans', sans-serif;
}

h2 {color: red;
    background-color: blue;
    width: 200px;
    height: 40px;
    border: 3px solid orange;
    padding: 10px;
    margin: 5px;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
  }

  .nav {
    background-color: cadetblue;
    color: white;
    width: 80%;
  }

  .nav ul{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
  }

  .nav ul li{
    padding: 10px;
    text-align: center;
    font-size: 1.7rem;
    border-bottom:  2px solid black;
    transition: background-color 0.9s;

  }

.nav ul li:hover {
  background-color: red;
}

.favourite ul {
  list-style-type: none;


}
.favourite ul li{
  color: cadetblue;
  padding: 10px;
  padding-right: 10px;
  padding-left: 10px;
  height: 200px;
  width: 200px;
 display: inline-block;
 margin: 10px;
}

.bb {
  background-image: url('img/bodanbodan.png');

  background-position: center center;
  background-size: cover;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 10px;
}
.df {
  background-image: url('img/fox.png');

  background-position: center center;
  background-size: cover;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 10px;
}
.hg {
  background-image: url('img/giles.png');

  background-position: center center;
  background-size: cover;
  padding-top: 30px;
  padding-bottom: 30px;
}

.image-text {
  text-align: center;

}

.welcometext {
  position:absolute;
  top:10px;
  left: 20px;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-style: italic;
  color: white;
  background-color: black;
}

  #keyword {
    color: red;
  }

#final {
  color: orange;
  font-family:Arial;
}

.love {
  color: brown;
}

ul {
  font-size: 20px;
}

#commentbox {
  width: 50%;
  height: 90px;
}

@media screen and (max-width: 900px){
 .nav ul li {
   display: inline-block;
   text-align: center;
 }
}
